*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff: 'Kumbh Sans', sans-serif;

  --clr-text-dark-blue: #1d1e35;
  --clr-text-soft-red: #f47c57;
  --clr-text-dark-gray-blue: #4a4b5e;
  --clr-text-gray-blue: #787887;

  --clr-bg-soft-violet: #af67e9;
  --clr-bg-soft-blue: #6565e7;
  --clr-bg-white: #ffffff;

  --clr-divider-gray: #e7e7e9;
}

body {
  font-family: var(--ff);
  font-size: 12px;
  font-weight: 400;
  color: var(--clr-text-dark-blue);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background: linear-gradient(
      0deg,
      var(--clr-bg-soft-blue),
      var(--clr-bg-soft-violet)
    )
    no-repeat;
}

.faq {
  position: relative;
  max-width: 920px;
  margin: 0 1.5rem;
  padding: 8rem 1.5rem 3rem;
  border-radius: 1.5rem;
  background-color: var(--clr-bg-white);
  transform: translateY(+5%);
  box-shadow: rgba(48, 34, 56, 0.4) 0px 45px 40px -20px;
}

.faq::before {
  content: '';
  top: -115px;
  left: calc(50% - 125px);
  position: absolute;
  width: 250px;
  height: 250px;
  background-image: url('./images/illustration-woman-online-mobile.svg'),
    url('./images/bg-pattern-mobile.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top 120px;
}

.title {
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.questions__item {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
  border-bottom: 1px var(--clr-divider-gray) solid;
}
.questions__item-q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.questions__item-q:hover {
  color: var(--clr-text-soft-red);
}
.questions__item-icon {
  transition: all 0.3s ease-in-out;
}
.questions__item-a {
  position: relative;
  height: 0;
  line-height: 150%;
  overflow: hidden;
  opacity: 0;
  color: var(--clr-text-gray-blue);
  transition: opacity 0.4s ease-in-out;
}

.display-show {
  padding-top: 0.8rem;
  opacity: 1;
  height: auto;
}
.text-bold {
  font-weight: 700;
}
.icon-open {
  transform: rotateX(180deg);
}

@media (min-width: 50em) {
  .faq {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 2rem;
    padding: 0 2rem 0 0;
  }

  .faq::before {
    content: '';
    top: calc(50% - 150px);
    left: -93px;
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: url('./images/illustration-box-desktop.svg');
    background-repeat: no-repeat;
    background-position: left center;
  }

  .illustration {
    width: 400px;
    height: 510px;
    background-image: url('images/illustration-woman-online-desktop.svg'),
      url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left -5rem center, right top + 68%;
  }

  .desktop-wrapper {
    align-self: center;
    padding: 1rem 3rem;
  }

  .title {
    text-align: left;
  }
}
